body {
  height: 100vh;
  background-color: white;
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.barItem {
  margin: 0;
  padding: 0;
}

.container h2 {
  color: black;
  font-style: normal;
  font-family: sans-serif, 'Inter';
  font-size: 20px;
  line-height: 28px;
}
