* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #333;
}

body {
  box-sizing: border-box;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 20px;
  background-image: url('./images/header-illsutration-mobile@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 2em;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.navContainer {
  padding: 0 6.4%;
  padding-top: 0.5em;
  width: 100%;
  justify-content: space-between;
  animation: nav-intro 2s ease 1.2s 1 normal forwards;
  transform: translate(0, -80px);
  position: fixed;
  z-index: 100;
}

@keyframes nav-intro {
  from {
    transform: translate(0, -80px);
  }

  to {
    transform: translate(0, 0);
  }
}

.hamburger {
  order: 1;
  width: 2.5em;
  height: 2.5em;
  background-color: transparent;
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
}

.bar,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  margin: 0.5em 0;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  transition: 0.2s;
}

.hamburger.is-active::after {
  transform: translate(0, -12px) rotate(45deg);
}

.hamburger.is-active::before {
  transform: translate(0, 10px) rotate(-45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.navContainer ul {
  visibility: hidden;
}

.barItem {
  margin: 0;
  padding: 0;
}

.container h2 {
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 5.33em;
  line-height: 7.46%;
  text-align: center;
}

.mainTitle {
  height: 100%;
  width: 100%;
  animation: opacity 2s ease 0s 1 forwards;
  opacity: 0%;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
}

.tittleContainer {
  padding-top: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.tittleContainer p {
  max-width: 920px;
}

/* Main page */
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  line-height: 32px;
}

.mediaContainer {
  list-style: none;
  gap: 1em;
  max-width: 200px;
  padding: 0;
  margin: 0.4em;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.mediaContainer img {
  transition: transform 0.3s;
}

.separator {
  background-color: #36b37f;
  width: 55px;
  height: 6px;
  margin: none;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.downArrow {
  margin: 50px 0;
  transition: transform 0.4s;
}

.downArrow:hover {
  transform: translate(0, 0.5em);
}

.myRecentWork {
  margin: 1.1em;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2em;
  justify-items: center;
}

.myRecentWork hr {
  margin: 20px 0 60px 0;
}

.workTitle {
  margin-bottom: 0;
}

.workCard {
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  max-width: 475px;
  transition: transform 0.5s;
}

.cardInfo {
  border-radius: 10px;
  background-color: white;
  margin-top: 50%;
  width: 100%;
  padding: 1em;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInfo h3 {
  font-size: 1.2em;
  margin: 0;
}

.cardInfo ul {
  max-width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.infoListItem {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  transition: 0.5s;
}

.infoListItem:hover {
  background-color: #c6e6d8;
}

.button {
  box-sizing: border-box;
  background-color: #172b4d;
  width: fit-content;
  padding: 0 0.5em;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 6.4%;
  color: white;
  text-align: center;
  transition: transform 1s;
}

.button:hover {
  /* background-color: #36b37e; */
  background-color: #1e488f;
  transform: scale(1.1);
}

.button:active {
  background-color: #008552;
}

.resumeButton {
  width: 159px;
  margin-bottom: 59px;
}

/* About Me Section */
.aboutMe {
  padding: 3em 0;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
  gap: 24px;
  justify-items: center;
  align-items: center;
  background-image:
    url('./images/mobile-illustration-about-me-2.svg'),
    url('./images/mobile-illustration-about-me-1.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left 15em, right top;
}

.aboutMeCard {
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px 10px 10px 10px;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 327px;
  width: calc(100% - 1.4em);
  max-width: 18.45em;
  transition: transform 0.5s;
}

.aboutMe p {
  padding: 1em;
}

.aboutMeCard img {
  height: 4em;
  width: 4em;
  background-color: white;
  padding: 15px;
  margin-bottom: 1em;
  border-radius: 50%;
}

.aboutMeCard ul {
  list-style: none;
  padding: 0;
  margin: 0 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.aboutMeListItem {
  background-color: white;
  color: #36b37e;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.blue {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

.contactContainer {
  background-image: url('./images/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 100%;
  background-position-y: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContainer h2 {
  margin: 6.4%;
}

.contactForm {
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  margin-top: 34px;
}

.singleLineInput {
  box-sizing: border-box;
  width: 327px;
  height: 48px;
  padding: 15px 16px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.singleLineInput::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 6.4%;
  color: #6b778c;
}

.commentArea {
  box-sizing: border-box;
  padding: 12px;
  width: 327px;
  height: 114px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 6.4%;
  color: #091e42;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.contactForm button {
  margin-bottom: 28px;
}

.contactContainer p {
  height: 189px;
  width: 375px;
  line-height: 32px;
  color: #42526e;
  margin: 0;
  margin-bottom: 147px;
}

.flex {
  display: flex;
}

.workCard:hover,
.aboutMeCard:hover {
  transform: scale(1.1);
}

.mobile-menu {
  display: block;
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 95vh;
  background-color: white;
  z-index: 98;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  transition: 0.5s;
}

.mobile-menu-active {
  display: block;
  left: 0;
}

.closing-cross {
  position: inherit;
  cursor: pointer;
  top: 3em;
  right: 2.5em;
}

.mobile-menu ul {
  list-style: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding-top: 2em;
}

.mobile-menu ul li {
  width: 100%;
  padding: 0 0.8em;
  text-align: left;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0;
  z-index: 100;
  padding: 1em;
}

.pop-up-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 1em;
  gap: 1em;
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.white-cross {
  position: absolute;
  display: block;
  top: 2.6em;
  right: 2.6em;
  width: auto !important;
}

.pop-up-container img {
  width: 100%;
}

.mobile-project-image {
  display: flex;
  width: 100%;
}

.pop-up-container h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  display: block;
  width: 100%;
}

.pop-up-container ul {
  flex-direction: row;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  column-gap: 1em;
  row-gap: 0.5em;
}

.pop-up-container p {
  text-align: left;
}

.pop-up-buttons {
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
}

.pop-up-button-link {
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.desktop-project-image img {
  width: auto;
  max-width: 100%;
}

.pop-up-button-link button img {
  width: auto;
  margin-left: 1em;
}

.pop-up-buttons button {
  margin: 0;
  display: inline;
  width: 100%;
  text-align: center;
}

.disabled-button {
  display: none;
}

.desktop-project-image {
  display: none;
}

.submit-message {
  font-size: large;
  border-radius: 10px;
  text-align: center;
  padding: 0.3em;
  width: 100%;
  transition: 2s;
}

.submit-message.error {
  background-color: #ebf0ee;
  color: #172b4d;
}

.mediaContainer img:hover {
  transform: scale(1.4);
}

@media (min-width: 768px) {
  body {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('./images/header-ilustration-desktop@2x.svg');
  }

  .navContainer {
    margin: 0;
  }

  .navContainer h2,
  div {
    display: none;
  }

  .navContainer ul {
    width: 100%;
    height: max-content;
    margin-top: 20px;
    list-style: none;
    visibility: visible;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #172b4d;
  }

  .navContainer ul li a {
    padding: 25px 25px;
    transition: background-color 0.5s ease;
    border-radius: 10px;
  }

  .navContainer ul li a:link,
  :visited {
    text-decoration: none;
    color: #172b4d;
  }

  .navContainer ul li a:hover {
    background-color: #36b37f;
    border: none;
    box-shadow: 0 0 8px black;
  }

  .tittleContainer {
    justify-content: flex-start;
    gap: 2%;
    padding: 8em 15% 0;
  }

  .mainTitle {
    height: 100vh;
  }

  .separator {
    display: none;
  }

  .projecti-image {
    min-height: 50%;
  }

  .myRecentWork {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 1.2em;
    padding-top: 0;
  }

  .myRecentWork h2 {
    grid-column: span 2;
    margin: 3em;
    margin-bottom: 0;
  }

  .workCard {
    max-width: none;
    height: 474px;
    flex-wrap: wrap;
  }

  .cardInfo {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .aboutMe {
    margin-bottom: 10em;
  }

  .contactContainer {
    background-image:
      url('./images/illustration-1-contact-form-desktop.svg'),
      url('./images/illustration-2-contact-form-desktop.svg'),
      url('./images/contact-form-illustratoin-3-desktop.svg');
    background-position: center left, 200px 400px, right 120px;
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contactContainer h2 {
    box-sizing: border-box;
    margin: 0;
    width: 25%;
    font-size: 1.5em;
  }

  .contactForm {
    width: 45%;
    padding: 1.2em;
    align-items: flex-start;
  }

  .singleLineInput {
    width: 100%;
  }

  .commentArea {
    width: 100%;
  }

  .contactContainer p {
    visibility: hidden;
    width: 100%;
    margin: 0;
  }

  .contactContainer ul {
    max-width: none;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
    width: 100%;
    order: 1;
    padding: 1em;
  }

  .hamburger {
    display: none;
  }

  .pop-up {
    position: fixed;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #c1c7d0f0;
    z-index: 100;
    padding: 5em;
  }

  .pop-up-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .mobile-project-image {
    display: none;
  }

  .desktop-project-image {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .disabled-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-left: auto;
  }

  .disabled-button img {
    width: auto;
  }

  .pop-up-container h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    display: block;
    width: 50%;
  }

  .pop-up-container ul {
    flex-direction: row;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 1em;
    order: 2;
  }

  .pop-up-container p {
    text-align: left;
    order: 2;
  }

  .pop-up-buttons {
    width: 45%;
    flex-wrap: nowrap;
    gap: 1em;
    order: 1;
  }

  .pop-up-button-link {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .pop-up-buttons button {
    margin: 0;
    display: block;
  }

  .pop-up-button-link button img {
    width: auto;
    margin-left: 0;
  }

  main {
    display: none;
  }
}

@media (min-width: 900px) {
  .myRecentWork {
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    gap: 1.2em;
  }

  .myRecentWork h2 {
    grid-column: span 3;
  }

  .workCard {
    max-width: 18.45em;
    height: 474px;
    flex-wrap: wrap;
  }

  .cardInfo {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .aboutMe {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    background-image:
      url('./images/illustration-about-me-1-desktop.png'),
      url('./images/illustration-about-me-2-desktop.png');
    background-position: right 100px, center left;
    background-size: auto;
    padding-top: 8%;
    margin-bottom: 8%;
  }

  .aboutMe h2 {
    grid-column: span 3;
  }

  .aboutMe p {
    grid-column: span 3;
    max-width: 70%;
  }

  .aboutMe button {
    margin: 0;
    grid-column: span 3;
  }

  .aboutMeCard {
    max-width: 18.45em;
    height: 17.6em;
    gap: 1.2em;
  }

  .aboutMeCard img {
    margin: 0;
    padding: 0;
    height: 4em;
    width: 4em;
  }
}
